ago 29 12:26:26 skywalker-tuf systemd[1]: Starting Minecraft Server velocity...
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service inizia la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha iniziato la fase di avvio.[0m
ago 29 12:26:26 skywalker-tuf systemd[1]: Started Minecraft Server velocity.
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service ha terminato la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha terminato la fase di avvio.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mLa fase di avvio è done.[0m
ago 29 12:26:26 skywalker-tuf (minecraft-server-velocity-stop)[113665]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Referenced but unset environment variable evaluates to an empty string: MAINPID[0m
ago 29 12:26:26 skywalker-tuf minecraft-server-velocity-stop[113699]: no server running on /run/minecraft/velocity.sock
ago 29 12:26:26 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Deactivated successfully.
[0;38:5:245m░░ [0m[0;32mSubject: Unità terminata[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata con successo nello stato 'dead' (morto).[0m
ago 29 12:26:26 skywalker-tuf systemd[1]: [0;1;39m[0;1;31m[0;1;39mminecraft-server-velocity.service: Consumed 311ms CPU time over 295ms wall clock time, 40M memory peak, 11.7M read from disk.[0m
[0;38:5:245m░░ [0m[0;32mSubject: Risorse utilizzate dall'unità in esecuzione[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service terminata consumando le indicate risorse.[0m
ago 29 12:26:26 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Scheduled restart job, restart counter is at 1.
[0;38:5:245m░░ [0m[0;32mSubject: Il riavvio automatico di un'unità è stato schedulato[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl riavvio automatico dell'unità minecraft-server-velocity.service è stato schedulato, come risultato[0m
[0;38:5:245m░░[0m [0;32mdelle impostazioni configurate in Restart=.[0m
ago 29 12:26:26 skywalker-tuf systemd[1]: Starting Minecraft Server velocity...
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service inizia la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha iniziato la fase di avvio.[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: Started Minecraft Server velocity.
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service ha terminato la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha terminato la fase di avvio.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mLa fase di avvio è done.[0m
ago 29 12:26:27 skywalker-tuf (minecraft-server-velocity-stop)[113769]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Referenced but unset environment variable evaluates to an empty string: MAINPID[0m
ago 29 12:26:27 skywalker-tuf minecraft-server-velocity-stop[113772]: no server running on /run/minecraft/velocity.sock
ago 29 12:26:27 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Deactivated successfully.
[0;38:5:245m░░ [0m[0;32mSubject: Unità terminata[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata con successo nello stato 'dead' (morto).[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Scheduled restart job, restart counter is at 2.
[0;38:5:245m░░ [0m[0;32mSubject: Il riavvio automatico di un'unità è stato schedulato[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl riavvio automatico dell'unità minecraft-server-velocity.service è stato schedulato, come risultato[0m
[0;38:5:245m░░[0m [0;32mdelle impostazioni configurate in Restart=.[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: Starting Minecraft Server velocity...
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service inizia la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha iniziato la fase di avvio.[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: Started Minecraft Server velocity.
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service ha terminato la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha terminato la fase di avvio.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mLa fase di avvio è done.[0m
ago 29 12:26:27 skywalker-tuf (minecraft-server-velocity-stop)[113839]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Referenced but unset environment variable evaluates to an empty string: MAINPID[0m
ago 29 12:26:27 skywalker-tuf minecraft-server-velocity-stop[113842]: no server running on /run/minecraft/velocity.sock
ago 29 12:26:27 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Deactivated successfully.
[0;38:5:245m░░ [0m[0;32mSubject: Unità terminata[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata con successo nello stato 'dead' (morto).[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Scheduled restart job, restart counter is at 3.
[0;38:5:245m░░ [0m[0;32mSubject: Il riavvio automatico di un'unità è stato schedulato[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl riavvio automatico dell'unità minecraft-server-velocity.service è stato schedulato, come risultato[0m
[0;38:5:245m░░[0m [0;32mdelle impostazioni configurate in Restart=.[0m
ago 29 12:26:27 skywalker-tuf systemd[1]: Starting Minecraft Server velocity...
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service inizia la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha iniziato la fase di avvio.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: Started Minecraft Server velocity.
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service ha terminato la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha terminato la fase di avvio.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mLa fase di avvio è done.[0m
ago 29 12:26:28 skywalker-tuf (minecraft-server-velocity-stop)[113962]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Referenced but unset environment variable evaluates to an empty string: MAINPID[0m
ago 29 12:26:28 skywalker-tuf minecraft-server-velocity-stop[113965]: no server running on /run/minecraft/velocity.sock
ago 29 12:26:28 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Deactivated successfully.
[0;38:5:245m░░ [0m[0;32mSubject: Unità terminata[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata con successo nello stato 'dead' (morto).[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Scheduled restart job, restart counter is at 4.
[0;38:5:245m░░ [0m[0;32mSubject: Il riavvio automatico di un'unità è stato schedulato[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl riavvio automatico dell'unità minecraft-server-velocity.service è stato schedulato, come risultato[0m
[0;38:5:245m░░[0m [0;32mdelle impostazioni configurate in Restart=.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: Starting Minecraft Server velocity...
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service inizia la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha iniziato la fase di avvio.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: Started Minecraft Server velocity.
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service ha terminato la fase di avvio[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service ha terminato la fase di avvio.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mLa fase di avvio è done.[0m
ago 29 12:26:28 skywalker-tuf (minecraft-server-velocity-stop)[114032]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Referenced but unset environment variable evaluates to an empty string: MAINPID[0m
ago 29 12:26:28 skywalker-tuf minecraft-server-velocity-stop[114035]: no server running on /run/minecraft/velocity.sock
ago 29 12:26:28 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Deactivated successfully.
[0;38:5:245m░░ [0m[0;32mSubject: Unità terminata[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata con successo nello stato 'dead' (morto).[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: minecraft-server-velocity.service: Scheduled restart job, restart counter is at 5.
[0;38:5:245m░░ [0m[0;32mSubject: Il riavvio automatico di un'unità è stato schedulato[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl riavvio automatico dell'unità minecraft-server-velocity.service è stato schedulato, come risultato[0m
[0;38:5:245m░░[0m [0;32mdelle impostazioni configurate in Restart=.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Start request repeated too quickly.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mminecraft-server-velocity.service: Failed with result 'start-limit-hit'.[0m
[0;38:5:245m░░ [0m[0;32mSubject: Unit fallita[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mUnità minecraft-server-velocity.service entrata nello stato 'failed' (fallito) con risultato 'start-limit-hit'.[0m
ago 29 12:26:28 skywalker-tuf systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Minecraft Server velocity.[0m
[0;38:5:245m░░ [0m[0;32mSubject: L'unità minecraft-server-velocity.service è fallita[0m
[0;38:5:245m░░[0m [0;32mDefined-By: systemd[0m
[0;38:5:245m░░[0m [0;32mSupport: https://lists.freedesktop.org/mailman/listinfo/systemd-devel[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mL'unità minecraft-server-velocity.service è fallita.[0m
[0;38:5:245m░░[0m [0;32m[0m
[0;38:5:245m░░[0m [0;32mIl risultato è failed.[0m
