* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 14px;
}

.modules-left, .modules-right, .modules-center {
    border-radius: 10px;
    border: 0.8px solid white;
    background-color: rgba(25,25,25,0.9);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 2px;
}

#clock {
    padding-left: 15px;
    padding-right: 15px; 
}
window#waybar {
    background: transparent;
    border-radius: 5px;
    color: whitesmoke;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background: rgba(25,25,25,0.0);
    color: white;
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    margin: 0px;
    padding-right: 10px;
    padding-left: 5px;
    border:none; 
}

#workspaces button {
    background: rgba(25,25,25,0.0);
    color: white;
    box-shadow: none;
    text-shadow:none;
    transition: 0.2s ease;
    padding-left:1px;
    padding-right: 1px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button:hover {
    background: none;
    color: white;
}

#custom-apps,
#clock,
#tray,
#system,
#toolbar,
#net,
#power-profiles-daemon,
#battery,
#custom-power {
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio,
#pulseaudio-mic,
#bluetooth,
#network,
#cpu,
#idle_inhibitor,
#custom-screenshot,
#pulseaudio-slider,
#memory
{
    padding-left: 8px;
    padding-right: 8px;
}

#custom-apps,
#power-profiles-daemon,
#tray,
#battery,
#toolbar,
#net,
#workspaces {
    border-right: 0.8px solid white;
}

#cpu,
#memory,
#tray,
#bluetooth,
#network,
#pulseaudio,
#pulseaudio-mic,
#battery,
#workspaces,
#power-profiles-daemon,
#custom-apps,
#custom-power,
#custom-screenshot,
#idle_inhibitor,
#clock
{
    transition: all 0.2s ease;
}

#cpu:hover,
#idle_inhibitor:hover,
#custom-screenshot:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#pulseaudio-mic:hover,
#battery:hover,
#power-profiles-daemon:hover {

    padding-left: 16px;
    padding-right: 16px;
}

#memory:hover,
#cpu:hover,
#custom-power:hover {
    padding-left:16px;
}

#custom-apps:hover {
    padding-right: 16px;
}
#clock:hover {
    padding-left: 25px;
    padding-right: 25px;

}

tooltip {
    background: rgba(25,25,25,0.8);
    border: 0.8px solid white;
    border-radius: 12px;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio-slider {
    min-width: 150px;
}

