@import url("../hypr/theme/mainTheme.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 13px;
}

.modules-left, .modules-right, .modules-center {
    border-radius: 10px;
    border: 1px solid @border;
    background-color: @bgBlur;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 0px;

}

#clock {
    padding-left: 15px;
    padding-right: 15px; 
}
window#waybar {
    background: transparent;
    border-radius: 5px;
    color: @textNormal;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    margin: 0px;
    padding-right: 10px;
    padding-left: 5px;
    border:none; 
}

#workspaces button {
    box-shadow: none;
    text-shadow:none;
    transition: 0.2s ease;
    padding-left:1px;
    padding-right: 1px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button:hover {
    background: none;
}

#custom-apps,
#clock,
#tray,
#system,
#toolbar,
#net,
#power_settings,
#battery,
#custom-power {
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio,
#pulseaudio-mic,
#bluetooth,
#backlight,
#network,
#cpu,
#idle_inhibitor,
#custom-screenshot,
#pulseaudio-slider,
#custom-graphics_control,
#power_profiles-daemon,
#memory,
#custom-gpu-temp,
#custom-fan-speeds,
#temepratures
{
    padding-left: 8px;
    padding-right: 8px;
}

#custom-apps,
#power_settings,
#tray,
#toolbar,
#net,
#workspaces {
    border-right: 1px solid @border;
}

#cpu,
#memory,
#tray,
#bluetooth,
#network,
#pulseaudio,
#pulseaudio-mic,
#battery,
#workspaces,
#custom-graphics_control,
#power-profiles-daemon,
#custom-apps,
#custom-power,
#custom-screenshot,
#idle_inhibitor,
#clock,
#temperature,
#backlight,
#custom-gpu-temp,
#custom-fan-speeds
{
    transition: all 0.2s ease;
}

#cpu:hover,
#idle_inhibitor:hover,
#custom-screenshot:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#pulseaudio-mic:hover,
#battery:hover,
#custom-graphics_control:hover,
#power-profiles-daemon:hover,
#temperature:hover,
#custom-gpu-temp:hover,
#backlight:hover,
#memory:hover,
#custom-apps:hover,
#custom-power:hover,
#custom-fan-speeds:hover
{

    padding-left: 16px;
    padding-right: 16px;
}

#clock:hover {
    padding-left: 25px;
    padding-right: 25px;

}

tooltip {
    background: @bgSolid;
    border: 0.8px solid @border;
    border-radius: 12px;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
}


