@import url("../hypr/theme/mainTheme.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 13px;
}

window#waybar {
    color: @textNormal;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}

#modules-right,
#modules-left
{
    padding-left: 20px;
    padding-right: 20px;
}

#desktop,
#system, 
#clock, 
#tray,
#toolbar
{
    background-color: @bgBlur;

    border: 2px solid @border;
    border-radius: 12px;
    margin-left: 4px;
    margin-right: 4px;
}


window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border:none; 
}

#workspaces button {
    box-shadow: none;
    text-shadow:none;
    transition: 0.2s ease;
    padding-left:1px;
    padding-right: 1px;
    transition: all 0.2s ease;
    color: @textNormal;
    
}

#workspaces button.active {
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button:hover {
    background: none;
}

#custom-apps,
#custom-power-status,
#clock,
#tray,
#custom-power,
#cpu,
#temperature,
#memory,
#custom-fan-speeds,
#pulseaudio,
#pulseaudio-mic,
#backlight,
#custom-screenshot,
#idle_inhibitor,
#battery
{
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s ease;
}
#custom-apps:hover,
#custom-power-status:hover,
#custom-power:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#custom-cpu-fan-speed:hover,
#custom-gpu-fan-speed:hover,
#pulseaudio:hover,
#pulseaudio-mic:hover,
#backlight:hover,
#custom-screenshot:hover,
#idle_inhibitor:hover,
#battery:hover
{
    padding-left: 15px;
    padding-right: 15px;
    
}



tooltip {
    background: @bgBlur;
    border: 2px solid @border;
    border-radius: 12px;
}


